Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [ ]:
# Suppose the following input is supplied to the program:
# 34,67,55,33,12,98
# Then, the output should be:
# ['34', '67', '55', '33', '12', '98']
# ('34', '67', '55', '33', '12', '98')

nums= raw input("34, 67, 55, 33, 12, 98: "). split(',')
print(nums)
print tuple(nums)

In [ ]:
values= input("34, 67, 55, 33, 12, 98: ")
list= values.split(",")
tuple=tuple(list)
print('list : ',list)
print('tuple : ',tuple)

34, 67, 55, 33, 12, 98: 34, 67, 33, 12, 98
list :  ['34', ' 67', ' 33', ' 12', ' 98']
tuple :  ('34', ' 67', ' 33', ' 12', ' 98')

In [ ]:
values = input("34, 67, 55, 33, 12, 98 : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('tuple : ',tuple)

In [ ]:
num=34, 67, 55, 33, 12, 98
t=tuple(num)
l=list(num)
print("input number are:",num)
print("this is a tuple:",l)

In [ ]:
Sample_data =input("34, 67, 55, 33, 12, 98")
print(list(Sample_data))
print(tuple(Sample_data))

In [ ]:
mylist = input('34, 67, 55, 33, 12, 98(comma seperated):').split(',')
mytuple = tuple(mylist)
print('List:', mylist)
print('Tuple:', mytuple)

In [ ]:
numbers=input("34, 67, 55, 33, 12, 98 : ")
my_list = numbers.split(",")
my_tuple = tuple(my_list)
print("your list is ", my_list)
print("and your tuple is ", my_tuple)

In [ ]:
numbers=input("34,67,55,33,12,98:")
my_list = numbers.split(",")
my_tuple= tuple(my_list)
print("your list is", my_list)
print("and your tuple is", my_tuple)